@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: hsla(0, 100%, 50%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.logo a {
  background-color: hsla(22, 100%, 77%, 1);
  border-radius: 0.7rem;
  padding: 1rem;
  color: white;
  font-weight: 600;
}

.container {
  width: 100%;
  min-width: 80vw;
  height: 80vh;
  margin: 0 auto;
  padding: 3rem 5rem;
  text-align: center;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.header ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.dashboard__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.dashboard__header h1 {
  margin-bottom: 0;
}

.goals {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;
}

.goal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.goal:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.goal__text {
  font-size: 1rem;
  color: #6d6786;
  font-weight: 600;
  flex: 0 0 30%;
  text-align: left;
}

.goal__importance {
  border-radius: 0.7rem;

  font-weight: 600;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  text-align: center;
  flex: 0 0 9%;
  margin-right: auto;
}

.goal__importance.high {
  background-color: #fbdede;
  color: #d47372;
}
.goal__importance.medium {
  background-color: #fcf4db;
  color: #fe9f2b;
}
.goal__importance.low {
  background-color: #ddf5fc;
  color: #8ed3e8;
}

.goal__date {
  color: #6d6786;
  font-weight: 600;
  text-align: left;
  flex: 0 0 20%;
  display: block;
  margin-right: auto;
}

.goal .close {
  cursor: pointer;
  border: none;
  background: none;
}

.form-group {
  margin: 2rem 0;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.no-items {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn__add-goal {
  background-color: #50d38d;
  color: white;
  border: none;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
